.top-nav li{
	margin-left:70px;
}
.index_delete{
	color:red;
	aria-hidden:true;
}
.content{
	
	width:800px;
	margin:50px auto;
}
tr{
	height: 50px
}
.pagination_self {
	text-align: center;
}

.sa span {
	width:100px; 
	text-align:center; 
	padding:10px 20px;
	background:#c8ddf5;
	margin-right:20px;
	color:#000;
	font:19px,bold;	
	border-radius: 6px;
	
}
.countryother {
	margin-top:180px;
}