.top-nav li{
	margin-left:70px;
}
.index_delete{
	color:red;
	aria-hidden:true;
}
.content{
	
	width:800px;
	margin:50px auto;
}
/*tr{
	height: 50px
}*/
.tableinopen tr{
	height: 30px
}
.pagination_self {
	text-align: center;
}

.sa span {
	/*width:100px; */
	display: inline-block;
	text-align:center; 
	padding:10px 20px;
	background:#c8ddf5;
	margin:10px 0;
	margin-right:20px;
	color:#000;
	font:19px,bold;	
	border-radius: 6px;
	cursor:pointer;
	
}
.sainopen span{
	width:100px; 
	text-align:center; 
	padding:10px 20px;
	background:#c8ddf5;
	margin-right:20px;
	color:#000;
	font:19px,bold;	
	border-radius: 6px;
	cursor:pointer;
}
.countryother {
	margin-top:50px;
}
.back_inopen{
	margin-left: 10px;
	float: left;
	font-size: 20px;
	color: white;
	line-height: 50px;
	cursor: pointer;
}

.address{
	margin-right: 10px;
	float: right;
	
	font-size: 20px;
	color: white;
	line-height: 50px;
}
.headinside{
	border-radius: 10px;
	/*background-color: #f0f0f0;*/
	clear: both;
	height:50px;
}
/*.headinopen{
	height: 50px;
}*/
.table_title_inopen{
	font-weight: bold;
	font-size: 30px;
	vertical-align: middle;
}
