<!DOCTYPE html>
<html>
<head>
  <title>发表文章</title>
  <script charset="utf-8" src="/javascripts/jquery-2.2.1.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel='stylesheet' href='/stylesheets/admin/UploadPic.css' />
  <link rel="stylesheet" href="/kindeditor-master/themes/default/default.css" />
  <link rel="stylesheet" href="/kindeditor-master/plugins/code/prettify.css" />
  <script charset="utf-8" src="/stylesheets/bootstrap/js/bootstrap.js"></script>
  <script charset="utf-8" src="/javascripts/admin/UploadPic.js"></script>
  
  <script charset="utf-8" src="/kindeditor-master/kindeditor-all.js"></script>
  <script charset="utf-8" src="/kindeditor-master/lang/zh-CN.js"></script>
  <script charset="utf-8" src="/kindeditor-master/plugins/code/prettify.js"></script>
  <script>
    KindEditor.ready(function(K) {
     

      var editor1 = K.create('textarea[name="content1"]', {
        cssPath : '/kindeditor-master/plugins/code/prettify.css',
        uploadJson : '/test',
        fileManagerJson : '../jsp/file_manager_json.jsp',
        allowFileManager : true,
        afterCreate : function() {
          var self = this;
          K.ctrl(document, 13, function() {
            self.sync();
            document.forms['example'].submit();
          });
          K.ctrl(self.edit.doc, 13, function() {
            self.sync();
            document.forms['example'].submit();
          });
        }
      });
      prettyPrint();
    });
    $(function(){
       $('#title').blur(function(){
        // $('<h1>adfnai<h1>').appendTo($('#content1'));
        // $('#content1').text('<h1>adfnai<h1>');
        alert($('#content1').val());
       });
    });
   
  </script>
</head>
<body>
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">平原村务公开</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse top-nav" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav_list">
          <li >
            <a href="index">
              用户管理
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="magcountry">乡镇管理</a>
          </li>
          <li>
            <a href="policy">惠农政策</a>
          </li>
          <li>
            <a href="project">惠农项目</a>
          </li>
          <li >
            <a href="openaffairs">村务公开</a>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="content">

   <!--  <form class="form-horizontal" name="example" method="post" action=""> -->
      <form action="/test/image" id="form1" name="example" method="post" class="form-horizontal">

    <!-- 这里是发布文章的图片 -->
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="height:90px;line-height:90px;">图片</label>
        <div class="col-sm-10" style="height:100px;">
          <div id="LXXUploadPic" LXXCol="1" LXXRow="1" LXXWidth="100" LXXHeight="100"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" placeholder="请输入标题" style="width:600px"></div>
      </div>
      <!-- 关联乡镇 -->

      <%  if (hide=="0"){ %>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">关联村庄</label>
        <div class="col-sm-10" style="width:300px">
          <select class="form-control" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <!-- <hr style="background-color: red"> -->
      <div class="form-group" >
        <div class="col-sm-offset-2 col-sm-3" >
          <div class="radio">
            <label>
              <input type="radio" name="articleType">党务公开</label>
          </div>
        </div>

       <!--  <div class="radio">
   <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" 
         value="option1" checked> 选项 1
   </label>
</div> -->

        <div class="col-sm-offset-2 col-sm-3">
          <div class="radio">
            <label>
              <input type="radio" name="articleType">村务公开</label>
          </div>
        </div>

        <div class="col-sm-offset-2 col-sm-3">
          <div class="radio">
            <label>
              <input type="radio" name="articleType">财务公开</label>
          </div>
        </div>

        <div class="col-sm-offset-2 col-sm-3">
          <div class="radio">
            <label>
              <input type="radio" name="articleType">惠农资金</label>
          </div>
        </div>
      </div>
      <% }%>

      
      <textarea name="content1" id="content1" cols="100" rows="8" style="width:820px;height:400px;visibility:hidden;"></textarea>
      <br/>
      <p style="text-align:center;" >
        <input class="btn btn-success" type="submit" name="button" value="提交内容" />
      </p>
      </form>
    <!-- </form> -->
    </body>
  </html>