<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= title %></title>
    <link href='/bootstrap-3.3.5-dist/css/bootstrap.min.css' rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet' />
  </head>
  <body>
