<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p>xishuashua</p>
    <h1>test</h1>
    <p>Welcome to test</p>
    <p><%= title%></p>
  </body>
</html>
